#img_card7 {
  background: url(/The_District/assets/img/category/veggie_cat.jpg) right
    bottom/cover no-repeat;
  background-size: 150%;
  transition: all 0.1s ease-in-out;
}

#img_card8 {
  background: url(/The_District/assets/img/category/wrap_cat.jpg) right
    top/cover no-repeat;
  background-size: 100%;
  transition: all 0.1s ease-in-out;
}

#img_card7:hover {
  background-size: 155%;
}
#img_card8:hover {
  background-size: 110%;
}

#pres_cat_pl-p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: center;
}
